* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Battleship";
  src: url("./assets/fonts/freeshipping.ttf");
}

body {
  /*background-color: rgb(178, 217, 250);*/
  background: radial-gradient(circle at top, #0b3d91, #041f3d);
  color: rgb(91, 178, 249);
  font-family: "Battleship";
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  font-size: 50px;
  letter-spacing: 6px;
  text-shadow:
    2px 2px 0px black,
    0 0 16px rgba(0, 229, 255, 0.7);
}

h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0px black;
}

h3 {
  font-size: 30px;
  text-shadow: 2px 2px 0px black;
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

button {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(91, 178, 249);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Ships area */

#setup-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#ships-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

#ships-container .row {
  display: inline-flex;
}

/* Boards */
#boards {
  display: flex;
  gap: 80px;
}

.board-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Other styles */

.row {
  display: flex;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: rgb(91, 178, 249);
}

.ship {
  background-color: rgb(59, 56, 56);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.5;
}

.shot {
  background-color: rgb(34, 173, 87);
}

.missedShot {
  background-color: red;
}

/* Display of ships before placement */

.selected-ship {
  outline: 3px solid rgb(3, 138, 248);
  outline-offset: 4px;
  transform: translateY(-2px);
}
