* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-around;
}
