* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background: rgb(130, 200, 200);
}
